<%- model_class = Team -%>
<% provide(:title, 'My teams') %>
<%= render partial: 'layouts/pageheader', locals: {breadcrumbs: {'Teams' => nil}} %>

<div class="row-btn">
  <%= link_to "<span class='glyphicon glyphicon-plus'></span> ".html_safe + t('team.new_team', :default => t("helpers.links.new")), new_team_path, :class => 'btn btn-primary pull-right' %>
</div>

<%= render :partial => 'teams/table', locals: { teams: @teams, model_class: model_class }  %>