<div class="row">
  <div class="col-xs-12 col-sm-4" style='font-weight: bold;'><%=t('.manager') %></div>
  <div class="col-xs-12 col-sm-8" style='text-transform: capitalize'><%= link_to @league.user.full_name, edit_user_registration_path(@league.user_id) %></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4" style='font-weight: bold;'><%=t('.name') %></div>
  <div class="col-xs-12 col-sm-8" style='text-transform: capitalize'><%= @league.name %></div>
</div>
<hr/>