<% provide(:title, t('home')) %>
<div class="jumbotron">
  <% if user_signed_in? %>
  <h1>Welcome back, <%= current_user.full_name  %> </h1>
    <p class="lead">
      You have signed in!  If this were a real app some sweet conent
      would go here.  But it's just a test.  You might want to sign out now.
    </p>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
  <% else %>
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p>
      <%= link_to 'Comece agora', new_user_registration_path, role:'button', class:'btn btn-success btn-lg active'%>
  </div>
  <% end %>
</div>